.debug {
    background-color: black;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    right: 10%;
    padding: 16px; 

    &--expanded {
        width: 100px;
        height: 100px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__content-item {
        display: flex;
        flex-direction: row;
        gap: 32px;
        justify-content: space-between;
        align-items: center;
        
        .label {
            font-size: smaller;
            color: $color-5;
        }

        .value {
            border: solid 1px lightgrey;
            padding: 8px;
            font-family: monospace;
            min-width: 256px;
            max-width: 256px;
        }
    }
}