.amount_widget {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    align-items: center;
    font-size: xx-large;

    &__amount {
        width: 42px;
        background-color: white;
        text-align: right;
    }

    &__button_minus {
        background-color: $color-5;
        border-radius: 50%;
        width: 28px;
        height: 28px;
    }

    &__button_plus {
        background-color: $color-5;
        border-radius: 50%;
        width: 28px;
        height: 28px;
    }
}