.amount_widget {
    font-size: x-large;

    &__flex-container {            
        height: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 12px;
        align-items: center;
    }

    &__amount {
        width: 36px;
        background-color: white;
        text-align: right;
    }

    &__button {
        background-color: $color-5;
        border-radius: 25%;
        width: 28px;
        height: 28px;
    }

    &__button_minus {
    }

    &__button_plus {
    }
}