@use 'sass:color';

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;

    &__left-side {
        flex-basis: 20%;
    }
    
    &__center {
        flex-basis: 60%;
        ol {
            list-style: none;
            padding-inline-start: 0;
        }
    }
    
    &__right-side {
        flex-basis: 20%;
        padding-top: 58px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__menu-item {
        margin-top: 16px;        
    }
}

.menu-item {
    @extend .content-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > .menu-item__amount {
        visibility: hidden;
    }

    &--selected {
        background-color: darken($color-1, 10%);
        padding-right: 4px;


        > .menu-item__amount {
            visibility: visible;
        }
    }

    @media (min-width: 1024px) {
        
    }
}