@use 'sass:color';

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    gap: 32px;

    &__left-side {
        flex-basis: 0%;
    }
    
    &__center {
        flex-basis: 100%;
    }
    
    &__right-side {
        flex-basis: 0%;
    }

    &__menu-item {
        margin-top: 16px;        
    }

    
    @media (min-width: 1024px) {
        &__left-side {
            flex-basis: 20%;
        }
        
        &__center {
            flex-basis: 45%;
        }
        
        &__right-side {
            flex-basis: 20%;
            padding-top: 58px;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
}

.menu-item {
    @extend .content-box;
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: space-between;

    &__item_name {
        padding: 8px;
    }

    &__item_price {
        padding: 8px;
    }

    &__amount {
        padding: 8px;
    }

    > .menu-item__amount {
        display: none;
    }

    &--selected {
        @extend .content-box--selected;
        grid-template-columns: 60% 20% 20%;

        > .menu-item__amount {
            display: revert;
        }
    }

    @media (min-width: 1024px) {
        
    }
}