.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;


    &__content {
        padding: 32px;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

body.state--modal {
    height: 100%;
    overflow: hidden;
}