.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form__item {
    &--single-line {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 8px;
        justify-items: stretch;
        align-items: center;
    }

    .label {
        font-size: smaller;
        color: $color-5;
    }
    
    .value {
        border: solid 1px lightgrey;
        padding: 4px;
        max-width: 128px;
        text-align: center;
        justify-self: end;
    }
    
    .action {
        height: 100%;
    }    
}