@font-face {
    font-family: "fashion_fetish";
    src:
        local("Fashion Fetish"), 
        url("assets/fonts/Fashion Fetish Regular.ttf") format("truetype");
}
@font-face {
    font-family: "fashion_fetish";
    font-weight: 300;
    src:
        local("Fashion Fetish Light"), 
        url("assets/fonts/Fashion Fetish Light.ttf") format("truetype");
}
@font-face {
    font-family: "fashion_fetish";
    font-weight: 700;
    src:
        local("Fashion Fetish Bold"), 
        url("assets/fonts/Fashion Fetish Bold.ttf") format("truetype");
}
@font-face {
    font-family: "fashion_fetish";
    font-weight: 900;
    src:
        local("Fashion Fetish Heavy"), 
        url("assets/fonts/Fashion Fetish Heavy.ttf") format("truetype");
}